#wrapper{

}

#projects-header{
	border-bottom:1px solid gray;
	margin-bottom:30px;
	margin-top:20px;
}

#wrapper .container{

}

#wrapper h2{
	margin-top:20px;
	margin-bottom:15px;
}

 .project-item
{

	padding-bottom:30px;
	padding-top:30px;
}

.project-image{
	height:80px;
	margin-right:30px;
}

.dashed{
	border-bottom: 1px dashed darkgray;
}